
    <h1> Quote Nation</h1>
    <style>
        ul{
    
             background: blanchedalmond;
             font:purple;
             font-family:Georgia, 'Times New Roman', Times, serif;
             text-align: left;
    
        }
        h1{
            font-weight: 300;
            color: brown;
            background: khaki;
            text-align: center;
        }
        h2{
            color: crimson;
            font-weight: lighter;
            font-family:Georgia, 'Times New Roman', Times, serif;
            background: blanchedalmond;
            text-align: left;
        }
        button{
            text-align: left;
        }
    li{
        color: brown;
    }
    </style> 

    <h2>Here are the available quotes</h2>
    <ul>
        <li *ngFor='let quote of quotes ;let i=index' >
            {{quote.saying}}  <br> by  {{quote.author}} <br>  <button class="btn btn-info" (click)='toggleDetails(i)'>Show Votes</button><hr>
            <app-votes *ngIf='quote.showVotes' [quote]='quote'></app-votes>
        </li>
    <ul>

        <app-quotef (addQuote)="addNewQuote($event)"></app-quotef>

